{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
    "fetch": true
    },
    "rules": {
        "linebreak-style": ["error", "windows"],
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}